<%- include('./partials/head') %>

<section>
  <h1>hello</h1>
</section>

<section class="work">
  <img src="<%= people[0].project1.url %>" alt="" />
  <img src="<%= people[0].project1.url %>" alt="" />
</section>

<%- include('./partials/foot') %>
