<%- include('./partials/head') %>

<section class="image-container">
  <h1>My todo app:</h1>
  <img class="work" src="<%= people[0].project1.url %>" alt="" />
  <img src="<%= people[0].project1.url %>" alt="" />
</section>

<%- include('./partials/foot') %>
