.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgb(245, 245, 245);
  margin: 0px;
}

.work,
img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
  display: block; /* Ensure the images are displayed as blocks */
  margin: 0 auto; /* Center the images horizontally */
}

.work:hover,
img:hover {
  transform: scale(1.05);
}

.work-title {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

body {
  padding-left: 0px;
}
